.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/*set页面*/
    body {
      -moz-user-select: none;  
      -webkit-user-select: none;  
      -ms-user-select: none;  
      -khtml-user-select: none;  
      user-select: none;
    }
    h1,
    h2,
    h3,
    h4 {
      font-weight: normal;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      /*display: inline-block;*/
      margin: 0 10px;
    }

    a {
        color: #42b983;
    }
    .f-l {
        float: left
    }
    .m_r_10 { 
        margin-right: 10px
    }
    .m_right_20 {
       margin-right: 20px
    }

    /*.container {
        width: 1000px;
        margin: 0 auto;
    }*/

    .top {
        background-color: #CADAEC;
        line-height: 100px
    }

    .main {
        display: flex;
       
    }
    .main .left {
          flex: 1;
          overflow: hidden;            
    }
    .main .left .left-container {
        display: flex;
    }
    .main .left .left-container .seat-msg {
        /*width: 50px;*/
    }
    .main .left .left-container .seat-msg .seat-row {
        /*display: flex;*/
    }
    .main .left .left-container  .seat-info {
          width: 50px;
          height: 50px;
          background-color: pink;
          color: #7B83A8;
          margin: 5px;  
    }
    .main .left .left-container .seat-info p {
      font-size: 8px
    }
    .main .left .left-container .seat {
       flex:1
    }
    .main .left .seat {
            overflow: scroll;
            text-align: left;
            border: 1px solid #000;
            height: 400px;
            max-width:100%;                       
    }
    
    /*.main .left .seat .seat-msg .seat-one{
          width: 50px;
          height: 50px;
          background-color: pink;
          color: #7B83A8;
          margin: 5px;  
    }*/
    .main .left .seat .seat-container {                    
                    
    }    
    .main .left .seat .seat-container .seat-row {
            display: flex;
            flex-wrap: nowrap;
            /*width: 2000px*/
    }
    .main .left .seat .seat-container .seat-row .seat-one {
          /*display: inline-block;*/
          min-width: 50px;
          width: 50px;
          height: 50px;
          background-color: #EEF0F4;
          color: #7B83A8;
          margin: 5px;                           
    } 
    .main .left .seat .seat-container .seat-row .seat-one.checked {
          border: 1px solid #000
    }
    .main .left .seat .seat-container .seat-row .seat-one.seled {
          border: 1px solid red
    }
    .main .right {
          width: 300px;
          height: 800px;
          background-color: #F6E3E2;
          text-align: left;
          padding-left:20px;         
    }
    .main .right .row {
          display: flex;
          margin-top: 5px;             
    }
    .main .right .row .header {
        width: 100px;

    }
    .main .right .row .box {
        flex: 1;
        /*display: flex;*/       
    }
    .main .right .row .box input {
        margin-right: 10px;
        width: 30px;
    }
    .main .seat-config {
        margin-top: 20px;          
    }
    .main .seat-config .btn-group {
          margin-top: 20px;
          text-align: right;
          padding-right: 20px
    }

    /*座位盒子*/
     .seat-box {
      text-align: center;
      /*overflow: hidden;*/
      position: relative;
      height: 100%;
      color: #fff;
    }
     .seat-box.null {
        opacity: 0.2;
      }
      .seat-box.isSeat {
        background-color:#CADAEC;
      }
      .seat-box.valid {
        background-color: lightseagreen
      }
      .seat-box.soldout {
        background-color: gray
      }
      .seat-box  .title {
        font-size: 12px;
      }
      .seat-box:hover .detail-box {         
           display: block;        
      }
      .seat-box  .price-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius:5px ;
      }
       .seat-box .detail-box {
        display: none;
        padding: 2px;
        position: absolute;
        z-index: 10;
        top: 0px;
        right: -62px;
        font-size: 10px;
        background-color: #000;
        color: #fff;
        border-radius: 4px;
      }



   /*公用组件*/
/*对话框 rule*/
.rule {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.juqi_alert_box {
    background: #FFF;
    border-radius: 6px;
    width: 50%;
    margin: 10% auto 0;
    padding: 0 0 40px;
    font-size: 12px;
}
.juqi_alert_box .headbox {
    min-height: 60px;
    background: #F6F9FE;
    border-radius: 6px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 700;
}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
/*对话框弹出层*/
.ConfMsg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.ConfMsg-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5;
}
.ConfMsg-content {
  width: 372px;
  padding: 10px 20px 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);    /* for Chrome || Safari */
  -moz-transform: translate(-50%, -50%);       /* for Firefox */
  -ms-transform: translate(-50%, -50%);        /* for IE */
  -o-transform: translate(-50%, -50%);         /* for Opera */
  transform: translate(-50%, -50%);
}
.ConfMsg-content .warning {
  padding: 15px 0 0 0;
  margin-bottom: 0;
}
.ConfMsg-content .warning i {
  display: inline-block;
  width: 63px;
  height: 55px;
  background: url('../images/warning.PNG');
}
.ConfMsg-content .msg {
  padding: 20px 0 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #272536;
  line-height: 24px;
}

/*模态框组件*/
.confirmModal .modal-sm {
  width: 650px;
}
.confirmModal .modal-content {
  margin-top: 40%;
}
.confirmModal .content {
  padding: 40px 80px;
  /*background: pink;*/
}
.confirmModal .content p{
  padding-left: 60px;
  position: relative;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 16px;
}
.confirmModal .content i {
  position: absolute;
  top: 0;
  left: -10px;
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  /*background: url('../images/seller-sprit.png') -3px -144px no-repeat ;*/
  vertical-align: bottom;
}
.confirmModal .modal-footer {
  padding: 0 0 35px 0;
  text-align: center;
  border: none;
}
/*loading*/
.modal-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-loading-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-loading-content {
    width: 66px;
    height: 66px;
    background: url(../images/loading.gif) no-repeat;
    background-size: 66px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*sale 售票页面*/
.sale {

}
.sale .main {
    display: flex;
}
.sale .main .main-left {
  background-color: #f5f5f5;
}
.sale .main .main-right {
  width:280px;
  background-color: #fff;
}
.sale .main .seatinfo-box {
    padding: 0 20px;
    width: 220px;
    font-family: "宋体";
    background-color: #fff;
    border-left: 1px solid #dbdbdb;
    font-size: 12px;
}

.sale .main .seatinfo-box .movie-detail { 
    display: flex
}
.sale .main  .seatinfo-box .movie-detail .left-sidebar {
   margin-right: 10px
}
.sale .main .seatinfo-box .movie-detail .cont {
   
}
.sale .main .seatinfo-box .item {
    padding: 19px 0;
    border-bottom: 1px dotted #e6e6e6;
    /*background: pink*/
}
.sale .main .seatinfo-box .item .sub {
    color: #999;
    padding-right: 9px;
    width:40px;
    display: block
}
.sale .main .seatinfo-box .item tr td {
    padding-bottom: 9px;
}

.sale .main .seatinfo-box .seat-container.seat-container-on {
    border: 0;
    padding: 0;
    width: 190px;
}
.sale .main  .seatinfo-box .seat-container span {
    display: block;
    float: left;
    margin-bottom: 6px;
    position: relative;
}
.sale .main  .seatinfo-box .seat-container span em {
    background-color: #fff9f2;
    border: 1px solid #ff8400;
    padding: 8px 18px;
    margin-right: 7px;
    display: block;
    width: auto;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
}
/*sale 页面 选座*/
.sale .seat-plan {
    overflow: hidden;
    min-height: 512px;
}
.sale .seat-plan h3 {
    background: #fff;
    border-radius: 5px;
    line-height: 38px;
    height: 38px;
    text-align: center;
    border: 1px solid #c8c8c8;
    margin: 25px 28px 0;
}
.sale .seat-plan .legend {
    margin: 18px 0 46px 150px;
    overflow: hidden;
    height: 20px;
    width: auto;
}
.sale .seat-plan .legend li {
    margin-right: 96px;
    text-indent: 0;
    float: left;
    width: 20px;
    font-size: 0;
    height: 20px;
    position: relative;
}
.sale .seat-plan .legend li span {
    line-height: 20px;
    height: 20px;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    text-indent: 7px;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 12px;
    width: 50px;
}
.sale .seat-plan .seat-img {
    background: url(../images/seat.png) no-repeat -9999px -9999px;
    height: 20px;
    width: 20px;
    display: block;
    text-indent: -9999px;
    position: relative;
    outline: 0;
    z-index: 20;
}
.sale .seat-plan .seat-img.seat-enabled {
    background-position: 0 0;
}
.sale .seat-plan .seat-img.seat-selected {
    background-position: -60px 0;
}
.sale .seat-plan .seat-img.seat-occupied {
    background-position: -40px 0;
}
.sale .seat-plan .seat-img.seat-couple {
    background-position: -20px 0;
}
.sale .seat-plan  .seat-matrix {
    clear: both;
    position: relative;
    min-height: 200px;
}
.sale .seat-plan  .seat-matrix ul {
    position: absolute;
    left: 0;
    top: 30px;
}
.sale .seat-plan  .seat-matrix ul li {
    height: 28px;
    line-height: 28px;
    color: #999;
    margin: 0 0 0 32px;
}
.sale .seat-plan .seat-matrix .matrix-body {
    width: 500px;
    margin: 0 auto;
    overflow: auto;
    overflow-y: hidden;
    position: relative;
}
.sale .seat-plan .seat-matrix .matrix-body table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 26px;
}
.sale .seat-plan .seat-matrix .matrix-body table tbody {
    text-align: center;
}
.sale .seat-plan .seat-matrix .matrix-body table tr td {
    padding: 4px;
}
.sale .seat-plan .seat-matrix .matrix-body table tbody tr td.cent {
    width: 100%;
    height: 30px;
    padding: 0;
}
.sale .seat-plan .seat-matrix .matrix-body .seat {
    /*background: url(../images/seat.png) no-repeat -9999px -9999px;*/
    height: 20px;
    width: 20px;
    /*display: block;
    text-indent: -9999px;
    position: relative;
    outline: 0;
    z-index: 20;*/

    background: url(../images/seat.png) no-repeat  -9999px -9999px;
    display: block;

}
.sale .seat-plan .seat-matrix .matrix-body .seat.seat-enabled {
    background-position: 0 0;
}
.sale .seat-plan .seat-matrix .matrix-body .seat.seat-selected {
    background-position: -60px 0;
}
.sale .seat-plan .seat-matrix .matrix-body .seat.seat-occupied {
    background-position: -40px 0;
}
.sale .seat-plan .seat-matrix .matrix-body .seat.seat-couple {
    background-position: -20px 0;
}