.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/*set页面*/
    body {
      -moz-user-select: none;  
      -webkit-user-select: none;  
      -ms-user-select: none;  
      -khtml-user-select: none;  
      user-select: none;
    }
    h1,
    h2,
    h3,
    h4 {
      font-weight: normal;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      /*display: inline-block;*/
      margin: 0 10px;
    }

    a {
        color: #42b983;
    }
    .f-l {
        float: left
    }
    .m_r_10 { 
        margin-right: 10px
    }

    /*.container {
        width: 1000px;
        margin: 0 auto;
    }*/

    .top {
        background-color: #CADAEC;
        line-height: 100px
    }

    .main {
        display: flex;
       
    }
    .main .left {
          flex: 1;
          overflow: hidden;            
    }
    .main .left .left-container {
        display: flex;
    }
    .main .left .left-container .seat-msg {
        /*width: 50px;*/
    }
    .main .left .left-container .seat-msg .seat-row {
        display: flex;
    }
    .main .left .left-container .seat-msg .seat-one {
          width: 50px;
          height: 50px;
          background-color: pink;
          color: #7B83A8;
          margin: 5px;  
    }
    .main .left .left-container .seat-msg .seat-one p {
      font-size: 8px
    }
    .main .left .left-container .seat {
       flex:1
    }
    .main .left .seat {
            overflow: scroll;
            text-align: left;
            border: 1px solid #000;
            height: 400px;
            max-width:100%;                       
    }
    
    /*.main .left .seat .seat-msg .seat-one{
          width: 50px;
          height: 50px;
          background-color: pink;
          color: #7B83A8;
          margin: 5px;  
    }*/
    .main .left .seat .seat-container {                    
                    
    }    
    .main .left .seat .seat-container .seat-row {
            display: flex;
            flex-wrap: nowrap;            
    }
    .main .left .seat .seat-container .seat-row .seat-one {
          /*display: inline-block;*/
          /*min-width: 50px;*/
          width: 50px;
          height: 50px;
          background-color: #EEF0F4;
          color: #7B83A8;
          margin: 5px;                           
    } 
    .main .left .seat .seat-container .seat-row .seat-one.checked {
          border: 1px solid #000
    }
    .main .left .seat .seat-container .seat-row .seat-one.seled {
          border: 1px solid red
    }
    .main .right {
          width: 300px;
          height: 800px;
          background-color: #F6E3E2;
          text-align: left;
          padding-left:20px;         
    }
    .main .right .row {
          display: flex;
          margin-top: 5px;             
    }
    .main .right .row .header {
        width: 100px;

    }
    .main .right .row .box {
        flex: 1;
        /*display: flex;*/       
    }
    .main .right .row .box input {
        margin-right: 10px;
        width: 30px;
    }
    .main .seat-config {
        margin-top: 20px;          
    }
    .main .seat-config .btn-group {
          margin-top: 20px;
          text-align: right;
          padding-right: 20px
    }

    /*座位盒子*/
     .seat-box {
      text-align: center;
      /*overflow: hidden;*/
      position: relative;
      height: 100%;
      color: #fff;
    }
     .seat-box.null {
        opacity: 0.2;
      }
      .seat-box.isSeat {
        background-color:#CADAEC;
      }
      .seat-box.valid {
        background-color: lightseagreen
      }
      .seat-box.soldout {
        background-color: gray
      }
      .seat-box  .title {
        font-size: 12px;
      }
      .seat-box:hover .detail-box {         
           display: block;        
      }
      .seat-box  .price-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius:5px ;
      }
       .seat-box .detail-box {
        display: none;
        padding: 2px;
        position: absolute;
        z-index: 10;
        top: 0px;
        right: -62px;
        font-size: 10px;
        background-color: #000;
        color: #fff;
        border-radius: 4px;
      }
