<div class="sale">       
     <section class="top">
        <h3>{{main.title}}</h3>
    </section>
    <section>
        <!--售票-->
        <div class="main">
            <div class="left">
                <div class="seat-plan">
                    <h3>3号厅银幕</h3>
                    <ul class="legend">
                        <li class="seat-img seat-enabled">
                            <span>可选</span>
                        </li>
                        <li class="seat-img seat-selected">
                            <span>已选</span>
                        </li>
                        <li class="seat-img seat-occupied">
                            <span>已售</span>
                        </li>
                        <li class="seat-img seat-couple">
                            <span>情侣</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="seatinfo-box" style="height: auto;">
                    <div class="item movie-detail">
                        <div class="left-sidebar">
                            <img src="https://p0.meituan.net/71.100/movie/385a6d22c2f1ed563aa58594d56cee39955568.jpg">
                        </div>
                        <div class="cont">
                            <p class="">张学友的演唱会</p>
                            <!--<p>语言&nbsp;<strong>原版</strong></p>
                            <p>片长&nbsp;<strong>130分钟</strong></p>-->
                        </div>
                    </div>
                    <div class="item">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sub">影院</td>
                                    <td>百丽宫影城(环贸iapm店)</td>
                                </tr>
                                <tr>
                                    <td class="sub">影厅</td>
                                    <td>3号厅</td>
                                </tr>
                                <tr>
                                    <td class="sub">版本</td>
                                    <td>普通2D</td>
                                </tr>
                                <tr class="last">
                                    <td class="sub">场次</td>
                                    <td>10月16日(星期一)&nbsp;15:20</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tbody>
                            <tr>
                                <td class="sub">座位</td>
                                <td>
                                    <div class="overflow">
                                        <div class="seat-container J_seat_container seat-container-on">
                                            <span><em>E排14座</em></span>
                                            <span><em>F排14座</em></span>
                                            <span><em>G排14座</em></span>
                                            <span><em>G排15座</em></span>
                                            <span><em>H排14座</em></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="last">
                                <td class="sub">总计</td>
                                <td class="price-info J_price"><strong>¥270</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>                    
                    <div class="item">
                        <table width="100%">
                            <tbody>
                            <tr class="single">
                                <td>
                                    <a href="#" target="_blank" track="" class="J_movie_order b-rbtn" rel="nofollow" data-enable="true"><span>座位选好了</span></a>
                                </td>
                            </tr>
                            <tr class="single last">
                                <td class="sub">
                                    本场次由?????提供信息支持
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>