<div class="sale">       
     <section class="top">
        <h3>{{main.title}}</h3>
    </section>
    <section>
        <!--售票-->
        <div class="main">
            <div class="main-left">
                <div class="seat-plan">
                    <h3>3号厅银幕</h3>
                    <ul class="legend">
                        <li class="seat-img seat-enabled">
                            <span>可选</span>
                        </li>
                        <li class="seat-img seat-selected">
                            <span>已选</span>
                        </li>
                        <li class="seat-img seat-occupied">
                            <span>已售</span>
                        </li>
                        <li class="seat-img seat-couple">
                            <span>情侣</span>
                        </li>
                    </ul>
                    <div class="seat-matrix">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                        </ul>
                        <div class="matrix-body">
                            <table>
                                <!--<tbody>
                                    <tr>
                                        <td class="cent" colspan="16"><span>银幕中央<b></b></span><div class="vertical" style="height:336px;margin-bottom:-336px"></div></td>
                                    </tr>                                        
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="A排1座" data-row="1" data-col="2" data-id="3188643" data-name="A排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="A排2座" data-row="1" data-col="3" data-id="3188642" data-name="A排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排1座" data-row="2" data-col="1" data-id="3188723" data-name="B排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排2座" data-row="2" data-col="2" data-id="3188694" data-name="B排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排3座" data-row="2" data-col="3" data-id="3188602" data-name="B排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排4座" data-row="2" data-col="4" data-id="3188646" data-name="B排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排5座" data-row="2" data-col="5" data-id="3188638" data-name="B排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排6座" data-row="2" data-col="6" data-id="3188636" data-name="B排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排7座" data-row="2" data-col="7" data-id="3188754" data-name="B排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排8座" data-row="2" data-col="8" data-id="3188745" data-name="B排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排9座" data-row="2" data-col="9" data-id="3188605" data-name="B排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排10座" data-row="2" data-col="10" data-id="3188631" data-name="B排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排11座" data-row="2" data-col="11" data-id="3188670" data-name="B排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排12座" data-row="2" data-col="12" data-id="3188673" data-name="B排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排13座" data-row="2" data-col="13" data-id="3188710" data-name="B排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排14座" data-row="2" data-col="14" data-id="3188652" data-name="B排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排15座" data-row="2" data-col="15" data-id="3188613" data-name="B排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="B排16座" data-row="2" data-col="16" data-id="3188627" data-name="B排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排1座" data-row="3" data-col="1" data-id="3188755" data-name="C排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排2座" data-row="3" data-col="2" data-id="3188716" data-name="C排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排3座" data-row="3" data-col="3" data-id="3188700" data-name="C排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排4座" data-row="3" data-col="4" data-id="3188614" data-name="C排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排5座" data-row="3" data-col="5" data-id="3188579" data-name="C排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排6座" data-row="3" data-col="6" data-id="3188609" data-name="C排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排7座" data-row="3" data-col="7" data-id="3188594" data-name="C排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排8座" data-row="3" data-col="8" data-id="3188622" data-name="C排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排9座" data-row="3" data-col="9" data-id="3188630" data-name="C排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排10座" data-row="3" data-col="10" data-id="3188625" data-name="C排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排11座" data-row="3" data-col="11" data-id="3188592" data-name="C排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排12座" data-row="3" data-col="12" data-id="3188596" data-name="C排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排13座" data-row="3" data-col="13" data-id="3188747" data-name="C排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排14座" data-row="3" data-col="14" data-id="3188719" data-name="C排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排15座" data-row="3" data-col="15" data-id="3188601" data-name="C排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="C排16座" data-row="3" data-col="16" data-id="3188665" data-name="C排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排1座" data-row="4" data-col="1" data-id="3188659" data-name="D排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排2座" data-row="4" data-col="2" data-id="3188750" data-name="D排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排3座" data-row="4" data-col="3" data-id="3188669" data-name="D排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排4座" data-row="4" data-col="4" data-id="3188718" data-name="D排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排5座" data-row="4" data-col="5" data-id="3188705" data-name="D排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排6座" data-row="4" data-col="6" data-id="3188664" data-name="D排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排7座" data-row="4" data-col="7" data-id="3188591" data-name="D排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排8座" data-row="4" data-col="8" data-id="3188697" data-name="D排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排9座" data-row="4" data-col="9" data-id="3188732" data-name="D排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排10座" data-row="4" data-col="10" data-id="3188701" data-name="D排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排11座" data-row="4" data-col="11" data-id="3188587" data-name="D排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排12座" data-row="4" data-col="12" data-id="3188621" data-name="D排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排13座" data-row="4" data-col="13" data-id="3188600" data-name="D排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排14座" data-row="4" data-col="14" data-id="3188599" data-name="D排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排15座" data-row="4" data-col="15" data-id="3188714" data-name="D排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="D排16座" data-row="4" data-col="16" data-id="3188692" data-name="D排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排1座" data-row="5" data-col="1" data-id="3188632" data-name="E排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排2座" data-row="5" data-col="2" data-id="3188720" data-name="E排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排3座" data-row="5" data-col="3" data-id="3188668" data-name="E排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排4座" data-row="5" data-col="4" data-id="3188634" data-name="E排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排5座" data-row="5" data-col="5" data-id="3188744" data-name="E排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排6座" data-row="5" data-col="6" data-id="3188681" data-name="E排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排7座" data-row="5" data-col="7" data-id="3188633" data-name="E排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排8座" data-row="5" data-col="8" data-id="3188730" data-name="E排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排9座" data-row="5" data-col="9" data-id="3188653" data-name="E排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排10座" data-row="5" data-col="10" data-id="3188682" data-name="E排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排11座" data-row="5" data-col="11" data-id="3188589" data-name="E排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排12座" data-row="5" data-col="12" data-id="3188725" data-name="E排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排13座" data-row="5" data-col="13" data-id="3188690" data-name="E排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排14座" data-row="5" data-col="14" data-id="3188603" data-name="E排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排15座" data-row="5" data-col="15" data-id="3188704" data-name="E排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="E排16座" data-row="5" data-col="16" data-id="3188724" data-name="E排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排1座" data-row="6" data-col="1" data-id="3188735" data-name="F排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排2座" data-row="6" data-col="2" data-id="3188702" data-name="F排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排3座" data-row="6" data-col="3" data-id="3188688" data-name="F排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排4座" data-row="6" data-col="4" data-id="3188619" data-name="F排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排5座" data-row="6" data-col="5" data-id="3188644" data-name="F排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排6座" data-row="6" data-col="6" data-id="3188695" data-name="F排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排7座" data-row="6" data-col="7" data-id="3188728" data-name="F排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="F排8座" data-row="6" data-col="8" data-id="3188628" data-name="F排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="F排9座" data-row="6" data-col="9" data-id="3188585" data-name="F排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排10座" data-row="6" data-col="10" data-id="3188741" data-name="F排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排11座" data-row="6" data-col="11" data-id="3188586" data-name="F排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排12座" data-row="6" data-col="12" data-id="3188746" data-name="F排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排13座" data-row="6" data-col="13" data-id="3188696" data-name="F排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排14座" data-row="6" data-col="14" data-id="3188606" data-name="F排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排15座" data-row="6" data-col="15" data-id="3188588" data-name="F排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="F排16座" data-row="6" data-col="16" data-id="3188624" data-name="F排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排1座" data-row="7" data-col="1" data-id="3188626" data-name="G排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排2座" data-row="7" data-col="2" data-id="3188748" data-name="G排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排3座" data-row="7" data-col="3" data-id="3188739" data-name="G排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排4座" data-row="7" data-col="4" data-id="3188580" data-name="G排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排5座" data-row="7" data-col="5" data-id="3188677" data-name="G排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排6座" data-row="7" data-col="6" data-id="3188699" data-name="G排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排7座" data-row="7" data-col="7" data-id="3188608" data-name="G排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排8座" data-row="7" data-col="8" data-id="3188686" data-name="G排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排9座" data-row="7" data-col="9" data-id="3188635" data-name="G排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排10座" data-row="7" data-col="10" data-id="3188654" data-name="G排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排11座" data-row="7" data-col="11" data-id="3188731" data-name="G排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled seat-selected" title="G排12座" data-row="7" data-col="12" data-id="3188676" data-name="G排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled seat-selected" title="G排13座" data-row="7" data-col="13" data-id="3188721" data-name="G排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled seat-selected" title="G排14座" data-row="7" data-col="14" data-id="3188751" data-name="G排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排15座" data-row="7" data-col="15" data-id="3188650" data-name="G排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="G排16座" data-row="7" data-col="16" data-id="3188717" data-name="G排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排1座" data-row="8" data-col="1" data-id="3188641" data-name="H排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排2座" data-row="8" data-col="2" data-id="3188648" data-name="H排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排3座" data-row="8" data-col="3" data-id="3188612" data-name="H排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排4座" data-row="8" data-col="4" data-id="3188733" data-name="H排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排5座" data-row="8" data-col="5" data-id="3188738" data-name="H排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排6座" data-row="8" data-col="6" data-id="3188663" data-name="H排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排7座" data-row="8" data-col="7" data-id="3188675" data-name="H排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="H排8座" data-row="8" data-col="8" data-id="3188629" data-name="H排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="H排9座" data-row="8" data-col="9" data-id="3188611" data-name="H排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排10座" data-row="8" data-col="10" data-id="3188649" data-name="H排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排11座" data-row="8" data-col="11" data-id="3188598" data-name="H排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排12座" data-row="8" data-col="12" data-id="3188684" data-name="H排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排13座" data-row="8" data-col="13" data-id="3188618" data-name="H排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排14座" data-row="8" data-col="14" data-id="3188713" data-name="H排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排15座" data-row="8" data-col="15" data-id="3188708" data-name="H排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="H排16座" data-row="8" data-col="16" data-id="3188722" data-name="H排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排1座" data-row="9" data-col="1" data-id="3188662" data-name="I排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排2座" data-row="9" data-col="2" data-id="3188693" data-name="I排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排3座" data-row="9" data-col="3" data-id="3188711" data-name="I排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排4座" data-row="9" data-col="4" data-id="3188667" data-name="I排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排5座" data-row="9" data-col="5" data-id="3188607" data-name="I排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排6座" data-row="9" data-col="6" data-id="3188617" data-name="I排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排7座" data-row="9" data-col="7" data-id="3188753" data-name="I排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排8座" data-row="9" data-col="8" data-id="3188674" data-name="I排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排9座" data-row="9" data-col="9" data-id="3188661" data-name="I排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排10座" data-row="9" data-col="10" data-id="3188610" data-name="I排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排11座" data-row="9" data-col="11" data-id="3188687" data-name="I排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排12座" data-row="9" data-col="12" data-id="3188620" data-name="I排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排13座" data-row="9" data-col="13" data-id="3188706" data-name="I排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排14座" data-row="9" data-col="14" data-id="3188604" data-name="I排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排15座" data-row="9" data-col="15" data-id="3188660" data-name="I排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="I排16座" data-row="9" data-col="16" data-id="3188666" data-name="I排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排1座" data-row="10" data-col="1" data-id="3188737" data-name="J排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排2座" data-row="10" data-col="2" data-id="3188647" data-name="J排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排3座" data-row="10" data-col="3" data-id="3188678" data-name="J排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排4座" data-row="10" data-col="4" data-id="3188593" data-name="J排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排5座" data-row="10" data-col="5" data-id="3188623" data-name="J排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排6座" data-row="10" data-col="6" data-id="3188703" data-name="J排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排7座" data-row="10" data-col="7" data-id="3188655" data-name="J排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="J排8座" data-row="10" data-col="8" data-id="3188680" data-name="J排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="J排9座" data-row="10" data-col="9" data-id="3188683" data-name="J排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排10座" data-row="10" data-col="10" data-id="3188597" data-name="J排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排11座" data-row="10" data-col="11" data-id="3188672" data-name="J排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排12座" data-row="10" data-col="12" data-id="3188581" data-name="J排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排13座" data-row="10" data-col="13" data-id="3188657" data-name="J排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排14座" data-row="10" data-col="14" data-id="3188658" data-name="J排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排15座" data-row="10" data-col="15" data-id="3188707" data-name="J排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="J排16座" data-row="10" data-col="16" data-id="3188685" data-name="J排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排1座" data-row="11" data-col="1" data-id="3188616" data-name="K排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排2座" data-row="11" data-col="2" data-id="3188727" data-name="K排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排3座" data-row="11" data-col="3" data-id="3188689" data-name="K排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排4座" data-row="11" data-col="4" data-id="3188743" data-name="K排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排5座" data-row="11" data-col="5" data-id="3188640" data-name="K排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排6座" data-row="11" data-col="6" data-id="3188709" data-name="K排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排7座" data-row="11" data-col="7" data-id="3188712" data-name="K排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排8座" data-row="11" data-col="8" data-id="3188584" data-name="K排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排9座" data-row="11" data-col="9" data-id="3188583" data-name="K排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排10座" data-row="11" data-col="10" data-id="3188734" data-name="K排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排11座" data-row="11" data-col="11" data-id="3188595" data-name="K排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排12座" data-row="11" data-col="12" data-id="3188742" data-name="K排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排13座" data-row="11" data-col="13" data-id="3188736" data-name="K排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排14座" data-row="11" data-col="14" data-id="3188740" data-name="K排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排15座" data-row="11" data-col="15" data-id="3188637" data-name="K排15座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="K排16座" data-row="11" data-col="16" data-id="3188656" data-name="K排16座" data-loveflag="0"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" hidefocus="true" class="seat" title=""></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排1座" data-row="12" data-col="2" data-id="3188726" data-name="L排1座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排2座" data-row="12" data-col="3" data-id="3188749" data-name="L排2座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排3座" data-row="12" data-col="4" data-id="3188691" data-name="L排3座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排4座" data-row="12" data-col="5" data-id="3188651" data-name="L排4座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排5座" data-row="12" data-col="6" data-id="3188645" data-name="L排5座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排6座" data-row="12" data-col="7" data-id="3188671" data-name="L排6座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="L排7座" data-row="12" data-col="8" data-id="3188615" data-name="L排7座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-occupied" title="L排8座" data-row="12" data-col="9" data-id="3188729" data-name="L排8座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排9座" data-row="12" data-col="10" data-id="3188639" data-name="L排9座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排10座" data-row="12" data-col="11" data-id="3188582" data-name="L排10座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排11座" data-row="12" data-col="12" data-id="3188752" data-name="L排11座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排12座" data-row="12" data-col="13" data-id="3188590" data-name="L排12座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排13座" data-row="12" data-col="14" data-id="3188698" data-name="L排13座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排14座" data-row="12" data-col="15" data-id="3188715" data-name="L排14座" data-loveflag="0"></a></td>
                                        <td><a href="#" hidefocus="true" class="seat seat-enabled" title="L排15座" data-row="12" data-col="16" data-id="3188679" data-name="L排15座" data-loveflag="0"></a></td>
                                    </tr>
                                </tbody>-->
                                <tbody>
                                    <tr>
                                        <td class="cent" colspan="16"><span>银幕中央<b></b></span><div class="vertical" style="height:336px;margin-bottom:-336px"></div></td>
                                    </tr> 
                                    <tr ng-repeat="row in main.ticketList">
                                         <td ng-repeat="seat in row">
                                             <span                                                
                                                ng-class="{'seat': seat.seatStatus==='seat',
                                                    'seat-enabled':seat.ticketStatus==='valid'||seat.ticketStatus==='none',
                                                    'seat-occupied':seat.ticketStatus==='soldout',
                                                    'seat-selected':seat.selected
                                                    }"
                                                title="A排1座"
                                                data-row="1" 
                                                data-col="2" 
                                                data-id="3188643" 
                                                data-name="A排1座" 
                                                data-loveflag="0"
                                                ng-click="showSeatInfo(seat)"
                                             ></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="main-right">
                <div class="seatinfo-box" style="height: auto;">
                    <div class="item movie-detail">
                        <div class="left-sidebar">
                            <img src="https://p0.meituan.net/71.100/movie/385a6d22c2f1ed563aa58594d56cee39955568.jpg">
                        </div>
                        <div class="cont">
                            <p class="">张学友的演唱会</p>
                            <!--<p>语言&nbsp;<strong>原版</strong></p>
                            <p>片长&nbsp;<strong>130分钟</strong></p>-->
                        </div>
                    </div>
                    <div class="item">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sub">影院</td>
                                    <td>百丽宫影城(环贸iapm店)</td>
                                </tr>
                                <tr>
                                    <td class="sub">影厅</td>
                                    <td>3号厅</td>
                                </tr>
                                <tr>
                                    <td class="sub">版本</td>
                                    <td>普通2D</td>
                                </tr>
                                <tr class="last">
                                    <td class="sub">场次</td>
                                    <td>10月16日(星期一)&nbsp;15:20</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tbody>
                            <tr>
                                <td class="sub">座位</td>
                                <td>
                                    <div class="overflow">
                                        <div class="seat-container J_seat_container seat-container-on">
                                            <span><em>E排14座</em></span>
                                            <span><em>F排14座</em></span>
                                            <span><em>G排14座</em></span>
                                            <span><em>G排15座</em></span>
                                            <span><em>H排14座</em></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="last">
                                <td class="sub">总计</td>
                                <td class="price-info J_price"><strong>¥270</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>                    
                    <div class="item">
                        <table width="100%">
                            <tbody>
                            <tr class="single">
                                <td>
                                    <a href="#" target="_blank" track="" class="J_movie_order b-rbtn" rel="nofollow" data-enable="true"><span>座位选好了</span></a>
                                </td>
                            </tr>
                            <tr class="single last">
                                <td class="sub">
                                    本场次由?????提供信息支持
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>